:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: #fa0000;
    --color-red-alt: #fa1010;
    --font-main: 'Inter', sans-serif;
}

body {
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    color: var(--color-black);
    overflow-x: hidden; /* Prevent horizontal scroll from elements sticking out */
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.text-red
{
    color: var(--color-red)
}

.gasoek
{
    font-family: "Gasoek One", sans-serif;
    letter-spacing: 3px;
    font-size: 3.8  em;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}

/* Typography Defaults based on visual hierarchy */
h1, h2, h3 {
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
}

p {
    margin: 0 0 24px 0;
    line-height: 1.4;
    font-size: 24px; /* Estimated from 1440px design */
}

@media (max-width: 768px) {
    p {
        font-size: 18px;
    }
    .container {
        padding: 0 20px;
    }
}